.key-code {
	margin: 20px auto;
	/* stylelint-disable color-function-notation, alpha-value-notation */
	background: rgba(253, 245, 230, 0.5);
}

.heading {
	text-align: center;
	padding: 20px;
	letter-spacing: 0.1em;
	font-size: 2rem;
}

.col-heading {
	text-align: left;
	font-size: 1.75rem;
	letter-spacing: 0.1em;
	padding: 20px 20px 0;
}

.note {
	text-align: left;
	padding: 20px 20px 0 40px;
	font-size: 1.5rem;
	letter-spacing: 0.1em;
}

.description {
	text-align: left;
	padding: 20px 20px 0 40px;
	font-size: 1.5rem;
	letter-spacing: 0.1em;
}

tr th.hidden-notes {
	text-align: left;
	padding-left: 40px;
}