* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body, html {
    font-family: sans-serif;
}

a {
    color: $mainBlack;
}

a:hover {
    color: $mainWesBosYellow;
    text-decoration: none;
}

h1, h2, p {
    text-align: center;
}

p {
    font-size: 1.75rem;
    letter-spacing: 0.1em;
}
