$mainBgColor: #C9D5B5;
$mainAquaColor: #0FA3B1;
$mainBlack: #000;
$mainBurgundyColor: #6B0504;
$mainGray10: #383838;
$mainCadetBlue4: #53868b;
$mainLtPinkColor:  #ffb6c1;
$mainLtSlateGray: #778899;
$mainOldLace: #fdf5e6;
$mainPinkColor: #FCBFB7;
$mainWhite: #fff;
$mainWesBosYellow: #ffc600;
