$main-bg-color: #c9d5b5;
$main-aqua-color: #0fa3b1;
$main-black: #000;
$main-burgundy-color: #6b0504;
$main-gray-10: #383838;
$main-cadet-blue-4: #53868b;
$main-lt-pink-color: #ffb6c1;
$main-lt-slate-gray: #789;
$main-old-lace: #fdf5e6;
$main-pink-color: #fcbfb7;
$main-white: #fff;
$main-wes-bos-yellow: #ffc600;
$min-480: '(min-width: 480px)';
$max-767: '(max-width: 767px)';
