$mainBgColor: #c9d5b5;
$mainAquaColor: #0fa3b1;
$mainBlack: #000;
$mainBurgundyColor: #6b0504;
$mainGray10: #383838;
$mainCadetBlue4: #53868b;
$mainLtPinkColor: #ffb6c1;
$mainLtSlateGray: #778899;
$mainOldLace: #fdf5e6;
$mainPinkColor: #fcbfb7;
$mainWhite: #fff;
$mainWesBosYellow: #ffc600;

$min-480: '(min-width: 480px)';
$max-767: '(max-width: 767px)';
